.partners {

	background-image: 
		// linear-gradient(
		// to right bottom,
		// rgba(#8F92A6, 0.2), rgba(#464B59, 0.5)),
		url(../../../images/stars.jpg);;
	opacity: 1;
	background-size: cover;
	background-position: center;
	overflow: hidden;

	margin-top: 3px;

	.section-inner {
		padding-top: $partners--padding-t__mobile;
		padding-bottom: $partners--padding-b__mobile;
	}

	.section-header {
		padding-bottom: $partners-header--padding__mobile;
	}

	.tiles-wrap {
		@if ( $partners-items--padding__mobile != null ) {
			margin-right: -($partners-items--padding__mobile / 2);
			margin-left: -($partners-items--padding__mobile / 2);
			margin-top: -($partners-items--padding__mobile / 2);

			&:last-of-type {
				margin-bottom: -($partners-items--padding__mobile / 2);
			}

			&:not(:last-of-type) {
				margin-bottom: ($partners-items--padding__mobile / 2);
			}
		}

		&.push-left {

			&::after {
				flex-basis: $partners-item--width;
				max-width: $partners-item--width;
				@if ( $partners-items--padding__mobile != null ) {
					padding-left: $partners-items--padding__mobile / 2;
					padding-right: $partners-items--padding__mobile / 2;
				}
			}
		}
	}

	.tiles-item {
		flex-basis: $partners-item--width;
		max-width: $partners-item--width;
		@if ( $partners-items--padding__mobile != null ) {
			padding: $partners-items--padding__mobile / 2;
		}
	}

	.tiles-item-inner {
		padding-top: $partners-item--inner-padding-v;
		padding-bottom: $partners-item--inner-padding-v;
		padding-left: $partners-item--inner-padding-h;
		padding-right: $partners-item--inner-padding-h;
	}
}

.partners-item-content {
	flex-grow: 1;
}

.partners-item-source {
	display: inline-flex; // to allow centering when using .content-center on a parent tag
	flex-wrap: wrap;
	align-items: center;
}

@include media( '>medium' ) {

	.partners {

		.section-inner {
			padding-top: $partners--padding-t__desktop;
			padding-bottom: $partners--padding-b__desktop;
		}

		.section-header {
			padding-bottom: $partners-header--padding__desktop;
		}

		@if ( $partners-items--padding__desktop != null ) {

			.tiles-wrap {
				margin-right: -($partners-items--padding__desktop / 2);
				margin-left: -($partners-items--padding__desktop / 2);
				margin-top: -($partners-items--padding__desktop / 2);

				&:last-of-type {
					margin-bottom: -($partners-items--padding__desktop / 2);
				}

				&:not(:last-of-type) {
					margin-bottom: ($partners-items--padding__desktop / 2);
				}

				&.push-left {

					&::after {
						padding-left: $partners-items--padding__desktop / 2;
						padding-right: $partners-items--padding__desktop / 2;
					}
				}
			}

			.tiles-item {
				padding: $partners-items--padding__desktop / 2;
			}
		}
	}
}
